# Node.js dependencies
node_modules

# Environment variables
.env

# Personal notes
notes*
tes
Bank Microservice Project.drawio
run-db.sh
stop-db.sh
ecosystem.config.js

# GitHub Actions Runner
actions-runner