# Node.js dependencies
node_modules
package-lock.json
package.json

# Environment variables
.env

# Personal notes
notes*
tes
Bank Microservice Project.drawio
run-db.sh
stop-db.sh
ecosystem.config.js

# GitHub Actions Runner
actions-runner